/* **** */
/* Code */
/* **** */

tt,code {
	//color: blue;
	//font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #d9d9d9;
	background-color: #f2f2f2;
	color: #111;
	tab-size: 4;
    -moz-tab-size: 4;	
}

.copy_button {
	position: absolute;
	top: 10px;
	right: 10px;
}

pre.code {
	background-color: #f2f2f2;
	padding: 10px;
	border: 1px solid #d9d9d9;
	tab-size: 4;
    -moz-tab-size: 4;	
	
	strong {
		/*
		color: #111;
		border: 1px solid #aaf;
		background-color: #ddf;
		font-weight: normal;
		*/
		
		font-weight: bold;
		color: #0f5cef;		
	}
}

