#editor {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 80%;
	height: 80%;
	background-color: rgba(#000000, 0.8);
	border-radius: 10px;
}

#editor_textarea {
	font-family: monospace;
	tab-size: 4;
    -moz-tab-size: 4;	
}